.hero {
    position: relative;
}

.nav-handler-btn {
    display: none;
}

.hero-bg-video, .hero-fg-data {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-font-color);
}

.hero-bg-video video {
    object-fit: cover;
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .header-right-club {
        overflow: hidden;
        position: absolute;
        top: 70px;
        height: fit-content;
        flex-direction: column;
    }
    .nav-handler-btn {
        display: flex;
    }
    .nav-open {
        .header-right-club{
            height: 400px;
        }
    }
    .nav-close .header-right-club{
        height: 0;
    }
}