header {
    position: fixed;
    z-index: 2000;
    height: 70px;
    .header-logo {
        max-width: 160px;
    }
    .logo-title {
        font-size: 25px;
        color: var(--primary-font-color);
    }
}
.header-nav {
    ul {
        list-style: none;
    }
}

.nav-handler-btn {
    display: none;
}