header {
    position: fixed;
    z-index: 2000;
    height: 70px;
    .header-logo {
        max-width: 160px;
    }
    .logo-title {
        font-size: 25px;
        color: var(--primary-font-color);
    }
}
.header-nav {
    ul {
        list-style: none;
    }
}

.nav-handler-btn {
    display: none;
}

.logged-in-ctnr {
    border: 1px solid var(--main-theme-color);
    border-radius: 30px;
}

.user-detail {
    text-transform: capitalize;
}

@media screen and (max-width: 900px) {
    .header-right-club {
        overflow: hidden;
        position: absolute;
        top: 70px;
        height: 0;
        width: 100%;
        flex-direction: column;
        background: #1f1f1fcc;
        backdrop-filter: blur(5px);
        padding: 0;
        left: 0;
        transition: 0.3s;
        ul {
            flex-direction: column;
            width: 100%;
            li {
                width: 100%;
                padding: 10px;
                background: #ffffff15;
                border-radius: 4px;
                transition: 0.3s;
                a {
                    display: flex;
                    width: 100%;
                }
            }
            li:hover {
                background-color: #ffffff30;
            }
        }
    }
    .header-nav {
        width: 100%;
    }
    .nav-handler-btn {
        display: flex;
        background-color: #ffffff30;
        border: none;
        border-radius: 5px;
        width: 50px;
        height: 50px;
    }
    .nav-open {
        background-color: black;
        transition: background 0.3s;
        .header-right-club{
            height: 450px;
            padding: 20px;
        }
    }
    .nav-close .header-right-club{
        height: 0;
    }
}